* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f7fa;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 18%;
  background-color: #1f3a4c;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-section {
  display: flex;
  align-items: center;
  margin-bottom: auto;
  margin-top: 1rem;
  margin-right: 1rem;
}

.admin-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #1f3a4c;
}

.share-button{
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #1f3a4c;
  border: none;
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.share-button:hover {
  background-color: #1f3a4c;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #e0fbfc;
}

.search-bar {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.sidebar ul {
  list-style: none;
  width: 100%;
}

.sidebar ul li {
  width: 100%;
  margin: 10px 0;
}

.sidebar ul li a {
  color: #e0fbfc;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  display: block;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #f5f5f55c;
}

.main-content {
  width: 88%;
  padding: 2rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;

}

.main-content h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}
.main-content-wrap
{
  width: 100%;
  height: 50%;


}
.upload-section {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-section input[type="file"] {
  padding: 0.5rem;
  font-size: 1rem;
}

.upload-section button {
  background-color: #1f3a4c;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.upload-section button:hover {
  background-color: #1f3a4c;
}

.image-preview {
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid #1f3a4c;
  padding: 5px;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #1f3a4c;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin-top: auto;
  top: 6%; 
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto; 
  color: #f5f7fa;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

.modal-content img {
  max-width: 100%;
  max-height: 150px;
  margin-top: 15px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
}

.overlayImage-class{
  margin-left: auto;
  margin-right: auto;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 50px; 
  right: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #1f3a4c;
}
.lable-title{
  margin-left: 20px;
}

.input-title{
  margin-left: 20px;
  height: 30px;
}

.dropdown-menu ul li:hover {
  background-color: #f2f2f2;
}


/* Modal Infomation Hospital */

.modal-page{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;

}


.modal-content-1{
  margin: 5% auto;
  border-radius: 10px;
  width: 80%;
  color: #f5f7fa;
  position: relative;

}

.close-modal-1{
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 1.5rem;
  color:white;
  cursor: pointer;
}


