/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow: hidden; /* Ẩn thanh cuộn */
    font-family: 'Arial', sans-serif;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  
  .inner-content {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .img-auth-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hình ảnh phủ kín */
    z-index: -1; /* Đưa hình ảnh ra sau */
    filter: brightness(0.8); /* Tăng độ tối để làm nổi bật form */
  }
  
  /* Form container */
  .auth-container {
    background-color: #f5f5f55c; /* Nền mờ với độ trong suốt */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    font-weight: bold;
    text-align: center;
    color: #1f3a4c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1; /* Đảm bảo form luôn trên nền */
  }
  
  .auth-container h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .auth-container p {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .auth-form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f5f5f55c;
    transition: border-color 0.3s ease;
  }
  
  .auth-form input:focus {
    border-color: #1c3743;
    outline: none;
  }
  
  .auth-form button {
    padding: 12px;
    background-color: #1c3743;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .auth-form button:hover {
    background-color: #1f3a4c;
  }
  
  .auth-container a {
    color: #1c3743;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  